/**
 * $Id$
 * $HeadURL$
 */

div.date button
{
color: #fff;
background: #D1DFE9 url(../images/h-sprite-43.png) repeat-x left -31px;/*url(../../images/2/gradient-blue.png) repeat-x center bottom scroll;*/
border: 1px solid #dedede;
border-color: #aaa #ccc #ccc #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin:0 0 0 10px;
}

.ui-widget
{
font-size:0.9em;
}

#preview-dialog p.loader
{
padding-top:10%;
text-align:center;
}

.ui-sortable-placeholder
{
border: 1px dotted black;
visibility: visible !important;
height: 50px !important;
}
.ui-sortable-placeholder *
{
visibility: hidden;
}

.dashboard-item
{
padding:0.2em;
}
.dashboard-item h2
{
margin-top:0;
padding:3px 5px;
cursor:move;
}
.dashboard-item table
{
margin:1em 4px 4px 4px;
width:auto;
}
.dashboard-item p
{
margin:0.5em;
}
.dashboard-item h2
{
font-size:1.3em;
}
.content-dashboard .left, .content-dashboard .right
{
min-height:50px;
padding-bottom:20px;
}
a.ui-dialog-titlebar-close
{
float:right;
}
ul.settings-dashboard
{
list-style-type:none;
}
ul.settings-dashboard label
{
display:inline;
}
#admin2pp_all_choosen
{
width:80%;
margin:10px auto;
}
.settings-dashboard li.active
{
display:none;
}
#admin2pp-db-window p.button-bar
{
margin-top:20px;
}
